@import "~bootstrap/scss/bootstrap";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* Hide scrollbars */
  /* overflow: hidden; */
  -ms-overflow-style: auto;
  scrollbar-width: auto;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

::-webkit-scrollbar {
  width: 0px;
  /* Chiều rộng của thanh scroll bar */
  height: 10px;
  /* Chiều cao của thanh scroll bar */
}
